* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

#root {
    background-color: #282c34;
}

div {
    font-size: 1.5rem;
    color: white;
}

.wrap {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap .title {
    font-size: 2rem;
    font-weight: 500;
}

.wrap .name {
    height: 10vh;
}

.wrap .img {
    width: 5rem;
    height: 5rem;
}
